@charset "utf-8";
/* CSS Document */

@import url('font-awesome.min.css');
@import url('jquery.mCustomScrollbar.min.css');
@import url('bootstrap-datetimepicker.min.css');
@import url('jquery.multiselect.css');
@import url(http://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,400italic,300,300italic,900italic);

*{
	outline:none !important;
}
a{
	text-decoration:none !important;
	color:#367fa9;
	transition:all ease-in-out 200ms;
}
a:focus, a:hover{
	color:#f39c12;
}
.fa-2x{
	font-size:1.5em;
}
body{
	font-family:'Lato', sans-serif;
	color:#525252;
	background:#eeeeee;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight:700;
}
.tooltip{
	font-family:'Lato', sans-serif;
}
.btn{
	font-size:16px;
	min-height:40px;
	/*line-height:30px;*/
	border-radius:0;
	transition:all ease-in-out 200ms;
}
.btn .fa{
	margin-right:5px;
}
.btn-primary{
	background:#1565c0;
	border-color:#1565c0;
	padding:5px 15px;
}
.btn-primary:hover{
	background:#002c5f;
	border-color:#002c5f;
}
.btn-primary.opec{
	opacity:0.6;
}
.btn-border{
	background:none;
	border-color:#1565c0;
	color:#1565c0;
	font-size:16px;
	padding:5px 15px;
}
.btn-border:hover{
	border-color:#002c5f;
	color:#002c5f;
}
.btn-lg{
	padding:10px 30px;
	font-size:24px;
	text-transform:uppercase;
}
.form-control{
	border-color:#e2e2e2;
	box-shadow:none;
	border-radius:0;
	font-size:16px;
	min-height:40px;
}
.form-control:focus{
	border-color:#72a5c3;
}
label{
	font-weight:400;
	margin-bottom:10px;
}
.nomargin{
	margin:0 !important;
}
.nopadding{
	padding:0 !important;
}
.pos-flo{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.body-loader{
	position:fixed;
	left:170px;
	right:0;
	top:0;
	bottom:0;
	background:#eeeeee url(../images/brick-loader.gif) no-repeat center center;
	z-index:99;
}
.visible-nav .body-loader{
	left:65px;
}
.admin-header{
	min-height:65px;
	background:#367fa9;
	color:#fff;
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:100;
	transition:all ease-in-out 200ms;
}
.admin-header .top-part{
	min-height:65px;
	background:#367fa9;
}
.admin-header .navbar-brand{
	font-size:25px;
	color:#fff;
	height:auto;
	line-height:normal;
}
.admin-header .admin-info{
	float:right;
	padding-left:65px;
	position:relative;
	margin-top:15px;
	margin-right:15px;
}
.admin-header .admin-info .admin-name{
	float:right;
	margin-top:5px;
	color:#fff;
	opacity:0.7;

	max-width:100px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	transition:all ease-in-out 200ms;
}
.admin-header .admin-info:hover .admin-name{
	opacity:1;
}
.admin-header .admin-info .dropdown{
	position:absolute;
	left:0;
	top:-7px;
}
.admin-header .admin-info .dropdown .btn{
	padding:0;
	margin:0;
	width:50px;
	height:50px;
	background:#1d5e84;
	border:none;
	border-radius:100%;
}
.admin-header .admin-info .dropdown .admin-thumb{
	position:absolute;
	left:4px;
	right:4px;
	top:4px;
	bottom:4px;
	border:4px solid #367fa9;
	border-radius:100%;
}
.admin-header .admin-info .dropdown .btn-down{
	position:absolute;
	width:20px;
	height:20px;
	text-align:center;
	line-height:0;
	background:#1d5e84;
	border:2px solid #367fa9;
	color:#fff !important;
	border-radius:100%;
	right:-8px;
	bottom:4px;
	font-size:12px;
	transition:all ease-in-out 200ms;
}
.admin-header .admin-info .dropdown .btn .fa{
	margin:2px 0 0;
}
.admin-header .admin-info:hover .dropdown .btn-down{
	text-shadow:0 0 3px #fff;
}
.admin-header .admin-info .dropdown-menu{
	min-width:100px;
	margin:0;
	background:none;
	border:5px solid rgba(0,0,0,0.5);
	border-radius:0;
	text-align:center;
	padding:0;
	left:50%;
	margin-left:-50px;
	top:57px;
}
.admin-header .admin-info .dropdown-menu:after{
	font-family:'FontAwesome';
	content:"\f0d8";
	font-size:20px;
	color:#0e2f42;
	position:absolute;
	top:-23px;
	left:50%;
	margin-left:-6px;
}
.admin-header .admin-info .dropdown-menu > li{
	border-bottom:1px solid #1d5e84;
}
.admin-header .admin-info .dropdown-menu > li:last-child{
	border-bottom:none;
}
.admin-header .admin-info .dropdown-menu > li > a{
	background:#367fa9;
	color:#fff;
	padding:6px;
}
.admin-header .admin-info .dropdown-menu > li > a:hover{
	background:#1d5e84;
}

.left-panel .nav-tools{
	float:left;
	width:170px;
	height:45px;
	font-size:20px;
	padding:5px 10px;
	text-shadow:1px 1px 0 rgba(255,255,255,0.25);
	background:#1d5e84;
	position:fixed;
	top:65px;
	text-align:center;
	line-height:30px;
	transition:all ease-in-out 200ms;
}
.slim-header .left-panel .nav-tools{
	top:0;
}
.left-panel .nav-tools ul{
	padding:0;
	margin:0;
}
.left-panel .nav-tools ul li{
	display:inline-block;
	margin:2px 5px;
	position:relative;
}
.left-panel .nav-tools ul li a{
	color:#0f3c57;
}
.left-panel .nav-tools ul li a:hover{
	color:#000;
}
.left-panel .nav-tools ul li .noti{
	position: absolute;
	width: 22px;
	height: 22px;
	background: #00a65a;
	border: 2px solid #1d5e84;
	border-radius: 100%;
	text-align: center;
	line-height: 16px;
	font-size: 10px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.7);
	color: #fff;
	left: -10px;
	top: -3px;
}
.left-panel .nav-tools .tooltip{
	white-space:nowrap;
}

.header-bottom{
	min-height:45px;
	background:#1d5e84;
	color:#fff;
	position:fixed;
	left:170px;
	right:0;
	top:65px;
	z-index:98;
	transition:all ease-in-out 200ms;
}
.slim-header .header-bottom{
	top:0;
}
.header-bottom .data-refresh-info{
	font-size:12px;
	background:#4392c0;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
	float:left;
	padding:5px 15px;
	height:45px;
	min-width:220px;
	position:relative;
	margin-right:10px;
}
.header-bottom .data-refresh-info:after{
	font-family:'FontAwesome';
	content:"\f04b";
	font-size:12px;
	position:absolute;
	right:-9px;
	top:14px;
	color:#4392c0;
}
.header-bottom .data-refresh-info .title{
	margin-bottom:1px;
	text-transform:uppercase;
}
.header-bottom .data-refresh-info .date-time{
	color:#c9ebff;
}
.header-bottom .data-refresh-info .date-time .fa{
	color:#0f3c56;
	text-shadow:1px 1px 0 rgba(255,255,255,0.25);
	margin-right:5px;
	font-size:13px;
	position:relative;
	top:1px;
}
.header-bottom .page-title{
	padding:0 15px;
	color:#67b2de;
	float:left;
}
.header-bottom .page-title h1{
	font-size:18px;
	text-transform:uppercase;
	line-height:45px;
	margin:0;
}
.header-bottom .doc-toolbar-cont{
	float:right;
	margin-right:15px;
}
.header-bottom .doc-toolbar-cont .doc-date{
	float:left;
	height:45px;
	padding:0 10px;
	border-left:1px solid #2c678c;
	border-right:1px solid #2c678c;
}
.header-bottom .doc-toolbar-cont .doc-date .icon-holder{
	float:left;
	font-size:18px;
	color:#0f3c56;
	margin:5px;
	text-shadow:1px 1px 0 rgba(255,255,255,0.25);
}
.header-bottom .doc-toolbar-cont .doc-date .icon-holder .fa{
	line-height:32px;
}
.header-bottom .doc-toolbar-cont .doc-date .calendar-field{
	float:left;
	position:relative;
	margin:10px 5px;
}
.header-bottom .doc-toolbar-cont .doc-date .calendar-field .form-control{
	height:25px;
	min-height:25px;
	width:100px;
	background:#0f3c57;
	border:none;
	border-bottom:1px solid #5a8aa5;
	border-right:1px solid #5a8aa5;
	color:#fff;
	font-size:11px;
	box-shadow:none;
}

.header-bottom .doc-toolbar-cont .doc-toolbar{
	float:right;
	text-align:center;
	padding-left:15px;
	font-size:18px;
	line-height:45px;
}
.header-bottom .doc-toolbar-cont .doc-toolbar ul{
	margin:0;
	padding:0;
}
.header-bottom .doc-toolbar-cont .doc-toolbar ul li{
	list-style:none;
	display:inline-block;
	margin:0 3px;
}
.header-bottom .doc-toolbar-cont .doc-toolbar ul li a{
	color:#4591bd;
}
.header-bottom .doc-toolbar-cont .doc-toolbar ul li a:hover{
	color:#fff;
}
.btn-cal-search{
	background:none;
	border:none;
	color:#fff;
	padding:5px 0;
	opacity:0.5;
	transition:all ease-in-out 200ms;
}
.btn-cal-search:hover{
	opacity:1;
}

.left-panel{
	position:fixed;
	width:170px;
	left:0;
	top:65px;
	bottom:0;
	background:#1e282c;
	z-index:101;
	transition:all ease-in-out 200ms;
}
.slim-header .left-panel{
	top:45px;
}
.visible-nav .left-panel{
	width:60px;
}
.left-panel .left-menu{
	padding-top:45px;
	text-transform:uppercase;
	transition:all ease-in-out 200ms;
}
.left-panel .mCSB_scrollTools{
	visibility:hidden;
	opacity:0;
}
.slim-header .left-panel .left-menu{
	padding-top:0;
}
.left-panel .left-menu > ul{
	margin:0;
	padding:0;
}
.left-panel .left-menu > ul > li{
	list-style:none;
	text-align:center;
	border-bottom:1px solid #2f3b40 !important;
}
.left-panel .left-menu > ul > li:last-child{
	border-bottom:none !important;
}
.left-panel .left-menu > ul > li > a{
	font-size:14px;
	color:#a5a9ab;
	padding:10px;
	display:block;
}
.left-panel .left-menu > ul > li > a:hover{
	color:#fff;
}
.left-panel .left-menu > ul > li > a .fa{
	font-size:25px;
}
.left-panel .left-menu > ul > li > a span{
	display:block;
	margin-top:5px;
}
.left-panel .left-menu > ul > li > a .menu-icon{
	width:30px;
	height:30px;
	margin:auto;
	opacity:0.6;
	transition:all ease-in-out 200ms;
}
.left-panel .left-menu > ul > li > a .menu-icon > img{
	max-width:30px;
	max-height:30px;
}
.left-panel .left-menu > ul > li > a:hover .menu-icon{
	opacity:1;
}
.visible-nav .left-panel .left-menu > ul > li > a{
	padding:15px;
}
.visible-nav .left-panel .left-menu > ul > li > a .fa{
	font-size:30px;
}
.visible-nav .left-panel .left-menu > ul > li > a span{
	display:none;
	visibility:hidden;
}
.visible-nav .left-panel .left-menu > ul > li > a .menu-icon{
	display:block;
	visibility:visible;
}
.left-panel .left-menu > ul > li.activestate > a{
	background:#367fa9;
	color:#fff !important;
	position:relative;
	z-index:1;
	border-bottom:1px solid #2d6180;
	box-shadow:0 0 5px rgba(0,0,0,0.8)
}
.left-panel .menu-sub-left{
	background:#fff;
	text-align:left;
}
.left-panel .menu-sub-left ul{
	padding:0;
	margin:0;
}
.left-panel .menu-sub-left ul li{
	list-style:none;
	border-bottom:3px double #dededf;
}
.left-panel .menu-sub-left ul li:last-child{
	border-bottom:none;
}
.left-panel .menu-sub-left ul li a{
	display:block;
	padding:8px 15px;
	color:#899ba2;
	transition:none;
	font-size:12px;
}
.left-panel .menu-sub-left ul li a .fa{
	font-size:13px;
	margin-right:7px;
}
.left-panel .menu-sub-left ul li a:hover{
	background:#4392c0 url(../images/active-corner.png) no-repeat right center;
	background-size:15px 110%;
	color:#fff;
}
.left-panel #accordion .panel{
	margin-bottom:0;
	background-color:transparent;
	border:none;
	border-radius:0;
	box-shadow:none;
	position:relative;
}
.visible-nav .left-panel .mCustomScrollBox,
.visible-nav .left-panel .mCSB_container{
	overflow:visible;
}
.visible-nav .sub-collapse{
	position:absolute;
	left:60px;
	top:0;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}
.visible-nav .sub-collapse .menu-sub-left{
	min-width:180px;
}

.main-container{
	margin-left:185px;
	margin-top:125px;
	margin-right:15px;
	min-height:1000px;
}
.visible-nav .main-container{
	margin-left:75px;
}

.white-panel{
	background:#fff;
	border:1px solid #dededf;
	margin-bottom:10px;
	position:relative;
}
.white-panel .panel-body{
	padding:15px;
}
.white-panel .panel-heading{
	padding:10px 0;
	margin:10px 20px 15px;
	border-bottom:1px solid #ebebeb;
	font-size:16px;
	text-transform:uppercase;
	color:#1d5e84;
}
.white-panel .panel-body .panel-heading{
	padding:0 0 10px;
	margin:0 0 15px;
}
.white-panel .panel-body .form-group:last-child{
	margin-bottom:0;
}
.custom-select{
	position:relative;
}
.custom-select select{
	position:relative;
	z-index:2;
	-webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   background:none;
   padding-right:30px;
}
.custom-select:after{
	font-family:'FontAwesome';
	content:"\f107";
	font-size:21px;
	color:#1d5e84;
	position:absolute;
	right:10px;
	top:5px;
	z-index:1;
}
.control-label{
	display:block;
	text-transform:uppercase;
	color:#1d5e84;
}

.chart-blocks > ul{
	padding:0;
	margin:0;
}
.chart-blocks > ul > li{
	list-style:none;
	float:left;
	width:16.666%;
	border-right:1px solid #e9e9ea;
	transition:all ease-in-out 200ms;
}
.chart-blocks > ul > li > a{
	display:block;
	padding:10px;
}
.chart-blocks > ul > li:last-child{
	border-right:none;
}
.chart-blocks > ul > li .icon-holder{
	height:60px;
	display:block;
	margin:10px auto 0;
}
.chart-blocks > ul > li .icon-holder svg{
	max-height:50px;
}
.chart-blocks > ul > li .count{
	font-size:28px;
	line-height:normal;
	margin:5px 0;
	display:block;
}
.chart-blocks > ul > li .block-heading{
	text-transform:uppercase;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:block;
}
.chart-blocks > ul > li > a:hover .count,
.chart-blocks > ul > li > a:hover .block-heading{
	color:#fff !important;
}
.chart-blocks > ul > li a:hover .st0{
	fill:#fff !important;
}
.chart-blocks > ul > li.block-yellow a{
	color:#f39c12;
}
.chart-blocks > ul > li.block-yellow:hover{
	background:#f39c12;
}
.chart-blocks > ul > li.block-yellow .st0{
	fill:#f39c12;
}

.chart-blocks > ul > li.block-green a{
	color:#77a936;
}
.chart-blocks > ul > li.block-green:hover{
	background:#77a936;
}
.chart-blocks > ul > li.block-green .st0{
	fill:#77a936;
}

.chart-blocks > ul > li.block-blue a{
	color:#367fa9;
}
.chart-blocks > ul > li.block-blue:hover{
	background:#367fa9;
}
.chart-blocks > ul > li.block-blue .st0{
	fill:#367fa9;
}

.chart-blocks > ul > li.block-brown a{
	color:#ab5d1d;
}
.chart-blocks > ul > li.block-brown:hover{
	background:#ab5d1d;
}
.chart-blocks > ul > li.block-brown .st0{
	fill:#ab5d1d;
}

.chart-blocks > ul > li.block-orange a{
	color:#ff6204;
}
.chart-blocks > ul > li.block-orange:hover{
	background:#ff6204;
}
.chart-blocks > ul > li.block-orange .st0{
	fill:#ff6204;
}

.chart-blocks > ul > li.block-darkgreen a{
	color:#00a65a;
}
.chart-blocks > ul > li.block-darkgreen:hover{
	background:#00a65a;
}
.chart-blocks > ul > li.block-darkgreen .st0{
	fill:#00a65a;
}
.dashboard-row .white-panel{
	min-height:420px;
	position:relative;
}
.dashboard-row .white-panel .custom-scroller{
	max-height:330px;
	overflow:hidden;
}
.dashboard-row .world-map{
	height:330px;
	position:relative;
	background:url(../images/world-map.png) no-repeat center center;
	overflow:hidden;
}
.dashboard-row .world-map .map-pointer{
	width:8px;
	height:8px;
	background:#ff2525;
	border-radius:100%;
	position:absolute;
	z-index:2;
}
.dashboard-row .world-map .map-pointer:after{
	border:2px solid #ff2525;
	border-radius:100%;
	position:absolute;
	left:-4px;
	right:-4px;
	top:-4px;
	bottom:-4px;
	content:"";
	transition:all ease-in-out 200ms;
}
.dashboard-row .world-map .map-pointer:hover:after{
	left:-5px;
	right:-5px;
	top:-5px;
	bottom:-5px;
}
.dashboard-row .world-map .point-01{
	left:50px;
	top:100px;
}
.dashboard-row .world-map .point-02{
	left:150px;
	top:250px;
}
.dashboard-row .world-map .point-03{
	left:330px;
	top:100px;
}
.dashboard-row .world-map .point-04{
	left:290px;
	top:160px;
}
.dashboard-row .world-map .point-05{
	left:380px;
	top:160px;
}
.dashboard-row .world-map .point-06{
	left:460px;
	top:120px;
}
.dashboard-row .world-map .point-07{
	right:20px;
	top:250px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th{
	padding:12px 20px;
}
.table > thead > tr > th{
	padding:15px 20px;
	background:#367FA9;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	vertical-align:middle;
}
.table-hover > tbody > tr:hover {
    background-color:#4392c0;
	color:#fff;
}

.bootstrap-datetimepicker-widget{
	background:#1d5e84;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new{
	color:#5D8BAD;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover{
	background-color:#082844 !important;
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover{
	background:#296a93;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
	background:#296a93;
}
.white-panel .bootstrap-datetimepicker-widget table td.day{
	color:#fff;
}
.white-panel .bootstrap-datetimepicker-widget table td.day.old,
.white-panel .bootstrap-datetimepicker-widget table td.day.new{
	color:#5d8bad;
}
.white-panel .bootstrap-datetimepicker-widget table td.day.disabled{
	color:#777777;
}
.white-panel .bootstrap-datetimepicker-widget table th{
	color:#fff;
}
.footer-shown .left-panel .left-menu{
	padding-bottom:90px;
}
.body-content{
	position:relative;
}
.footer-shown .body-content{
	top:-55px;
}
.admin-footer{
	height:50px;
	position:fixed;
	left:0;
	right:0;
	bottom:-50px;
	background:#273337;
	color:#687c86;
	font-size:13px;
	z-index:102;
	transition:all ease-in-out 500ms;
}
.admin-footer.foot-visile{
	bottom:0;
}
.admin-footer .footer-logo{
	float:left;
	font-size:25px;
	line-height:50px;
}
.admin-footer .footer-links{
	float:left;
	margin:20px 0 0 40px;
}
.admin-footer .footer-links ul{
	padding:0;
	margin:0;
}
.admin-footer .footer-links ul li{
	float:left;
	list-style:none;
	border-right:1px solid #687c86;
	line-height:15px;
	margin-right:5px;
	padding-right:5px;
}
.admin-footer .footer-links ul li:last-child{
	border-right:none;
	margin-right:0;
	padding-right:0;
}
.admin-footer .footer-links ul li a{
	color:#687c86;
}
.admin-footer .footer-links ul li a:hover{
	color:#fff;
}
.admin-footer .copyright{
	float:right;
	line-height:50px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color:#4392c0;
}

.pointer{
	width:1px;
	height:1px;
	overflow:visible !important;
}
.pointer .address{
	width:8px;
	height:8px;
	background:#1D5E84;
	border-radius:100%;
	position:absolute;
	z-index:2;
	overflow: visible !important;
	/*-webkit-animation: pulse 1s ease 1s 3;
	-moz-animation: pulse 1s ease 1s 3;
	animation: pulse 1s ease 1s 3;*/
}
.pointer .address:after{
	border:1px solid #1D5E84;
	border-radius:100%;
	position:absolute;
	left:-2px;
	right:-2px;
	top:-2px;
	bottom:-2px;
	content:"";
	transition:all ease-in-out 200ms;
}
/* ANIMATIONS */
@-webkit-keyframes pulse {
 40% {
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		transform: scale(2);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes pulse {
 40% {
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		transform: scale(2);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulse {
	40% {
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		transform: scale(2);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

/* Login */

.login-container{
	background:#1e282c;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:50px;
	overflow:auto;
}
.login-box{
	max-width:700px;
	height:500px;
	position:absolute;
	background:#e6e7e7;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	box-shadow:0 0 10px rgba(0,0,0,0.9);
	border:5px solid #fff;
}
.login-box .login-left-panel{
	max-height:490px;
	min-height:490px;
	overflow-x:hidden;
	overflow-y:auto;
	background:#367fa9;
	color:#fff;
	padding:15px 30px;
	box-shadow:-1px 0px 10px rgba(0,0,0,0.3) inset;
}
.login-box .login-left-panel ul{
	padding-left:20px;
}
.login-box .login-left-panel ul li{
	margin-bottom:10px;
	list-style:none;
	position:relative;
}
.login-box .login-left-panel ul li:before{
	content:"\2713";
	left:-15px;
	top:0;
	position:absolute;
}
.login-box .login-left-panel ul li:last-child{
	margin-bottom:0;
}
.login-box .form-cont{
	padding:15px 30px 30px 0;
	max-height: 490px;
	min-height: 490px;
	overflow-x: hidden;
	overflow-y: auto;
}
.login-box .form-cont .alert{
	padding:10px;
}
.login-box .form-cont .loader{
	position:absolute;
	right:10px;
	bottom:10px;
}
.login-box h2{
	text-transform:uppercase;
	margin:0 0 15px;
	font-size:20px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding-bottom:15px;
}
.btn-success{
	background:#00a65a;
}

.login-container .login-footer{
	background:#1e282c;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:50px;
	color:#4b6675;
	padding:0 30px;
}
.login-container .login-footer .login-footer-menu{
	float:left;
	line-height:50px;
}
.login-container .login-footer .copyright{
	float:right;
	line-height:50px;
}
.login-container .login-footer a{
	color:#4b6675;
}
.login-container .login-footer a:hover{
	color:#fff;
}
.bar-graph{
	position:relative;
	height:195px;
	text-align:center;
	color:#fff;
	font-size:12px;
}
.bar-graph ul{
	padding:0;
	margin:0;
	display:table;
	width:100%;
	height:100%;
}
.bar-graph ul li{
	display:table-row;
	list-style:none;
	vertical-align:middle;
	position:relative;
}
.bar-graph ul li span{
	/*position:absolute;
	left:0;
	right:0;
	top:50%;
	margin-top:-10px;
	height:20px;
	line-height:20px;*/
	display:block;
}
.bar-graph ul li:nth-child(5){
	background:#1b508a;
}
.bar-graph ul li:nth-child(4){
	background:#1567a8;
}
.bar-graph ul li:nth-child(3){
	background:#3d8cbd;
}
.bar-graph ul li:nth-child(2){
	background:#66aed7;
	color:#000;
}
.bar-graph ul li:nth-child(1){
	background:#A6D6F1;
	color:#000;
}
.bar-info{
	margin-top:10px;
}
.bar-info ul{
	margin:0;
	padding:0;
}
.bar-info ul li{
	list-style:none;
	overflow:hidden;
	margin:2px 0;
	line-height:20px;
	font-size:12px;
}
.bar-info ul li .color-block{
	width:20px;
	height:20px;
	float:left;
	margin-right:10px;
}
.bar-info ul li:nth-child(5) .color-block{
	background:#1b508a;
}
.bar-info ul li:nth-child(4) .color-block{
	background:#1567a8;
}
.bar-info ul li:nth-child(3) .color-block{
	background:#3d8cbd;
}
.bar-info ul li:nth-child(2) .color-block{
	background:#66aed7;
}
.bar-info ul li:nth-child(1) .color-block{
	background:#A6D6F1;
}
/* Modal #ListView */

#ListView .modal-dialog{
	position:fixed;
	width:auto;
	margin:auto;
	left:20px;
	right:20px;
	top:20px;
	bottom:20px;
}
#ListView .modal-content{
	position:relative;
	height:100%;
	border-radius:0;
}
#ListView .table-wrap{
	position:absolute;
	left:0;
	right:0;
	top:135px;
	bottom:0;
	overflow:auto;
}

#ListView .table > tbody > tr > td,
#ListView .table > tbody > tr > th,
#ListView .table > tfoot > tr > td,
#ListView .table > tfoot > tr > th,
#ListView .table > thead > tr > td,
#ListView .table > thead > tr > th{
	vertical-align:middle;
	padding:10px;
}
#ListView .table > thead > tr > th{
	white-space:nowrap;
	background-color:#367FA9;
	color:#fff;
	text-align:center;
	padding-right:20px;
}
#ListView .floatThead-wrapper{
	position:absolute !important;
	left:0;
	right:0;
	top:55px;
	bottom:0;
}
#ListView .floatThead-wrapper .table-wrap{
	top:0;
}
#ListView .floatThead-container{
	/*min-width:99%;*/
}
.no-record{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:99;
	background:#eeeeee;
}
.no-record.visible-lafepan{
	left:170px;
}
.no-record .err-txt{
	padding:17% 20px 20px;
	text-align:center;
	font-size:20px;
}
.no-record .err-txt .fa{
	display:block;
	font-size:100px;
	color:#ff7171;
}
.no-record .err-txt span{
	display:block;
	font-size:50px;
	line-height:50px;
	color:#1d5e84;
	font-weight:900;
	margin-top:10px;
}
.login-box .form-cont .form-group h4{
	color:#5D5D5D;
	font-size:18px;
}
.login-box #result{
	height:20px;
	position:relative;
	display:block;
	padding-top:3px;
	margin-top:5px;
	font-size:11px;
	transition:all ease-in-out 1s;
}
.login-box #result:after{
	position:absolute;
	height:3px;
	left:0;
	top:0;
	width:0%;
	transition:all ease-in-out 1s;
	content:"";
}
.login-box #result.short{
	color:#de3232;
}
.login-box #result.short:after{
	width:25%;
	background:#de3232;
}
.login-box #result.weak{
	color:#dcb230;
}
.login-box #result.weak:after{
	width:50%;
	background:#dcb230;
}
.login-box #result.good{
	color:#6dc755;
}
.login-box #result.good:after{
	width:75%;
	background:#6dc755;
}
.login-box #result.strong{
	color:#209e07;
}
.login-box #result.strong:after{
	width:100%;
	background:#209e07;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right: 5px;
	padding-left: 5px;
}
.form-horizontal .form-group {
    margin-right:-5px;
    margin-left:-5px;
}

/* Filtered Table */
.tablesorter-header-inner {
    white-space:nowrap;
    text-align:center;
    min-width:170px;
}
.table-wrap{
	/*position:absolute;*/
	left:235px;
	right:0;
	top:50px;
	bottom:50px;
	overflow:auto;
}
.table-wrap .table > tbody > tr > td{
	text-align:center;
	vertical-align:middle;
}
.table-wrap .tablesorter-default{
	margin:0;
}
.search-info{
	padding:10px;
	background:#f2f2f2;
	margin-top:5px;
}
.search-info p{
	float:right;
	margin:10px 0 0;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .login-box{
	   position:relative;
	   top:50%;
	   margin-top:-250px;
   }
}
.b-divide{
	margin:0 10px;
	color:#fff;
}
.heading-btns{
	position:absolute;
	right:15px;
	top:8px;
}
.heading-btns .btn{
	font-size:13px;
	padding:5px 20px;
	min-height:32px;
	line-height:18px;
}

.input-group.date .input-group-addon{
	background-color:#367fa9;
	border-color:#367fa9;
	color:#fff;
	border-radius:0;
}

.err{ border :1px solid #E88E8E; }
.ldr{
	position:absolute;
	top:10px;
	right:15px;
}
.modal-content{
	border-radius:0;
}
.log-modal .modal-dialog{
	width: auto;
	max-width: 1200px;
}
.log-modal .table tr th{
	background: #367fa9;
	color: #fff;
}
.table-wrap .table > tbody > tr > td.text-left{
	text-align: left;
}

.main-container.permission-denied{
	min-height:800px;
	text-align:center;
}
.permission-denied .deny-block{
	margin-top:100px;
	display:inline-block;
}
.permission-denied .deny-block .icon-holder{
	font-size:100px;
	margin-bottom:20px;
	color:#f55151;
	text-shadow:1px 1px 2px rgba(0,0,0,0.4);
}
.permission-denied .deny-block h1{
	color:#f97b7b;
	margin-bottom:5px;
}
.panel-heading-btns{
	margin:10px 20px 15px;
	border-bottom:1px solid #ebebeb;
	padding:10px 0;
}
.custom-radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
	margin:0;
	font-weight:400;
	line-height:18px;
}
.custom-radio.label-only label{
	padding-left:16px;
}
.custom-radio label:before {
    content: "";
    display: inline-block; 
    width:18px;
    height:18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
	border:1px solid #c0c0c0;
	border-radius:100%;
	transition:all ease-in-out 200ms;
}
.custom-radio input[type=radio] {
    display: none;
}
.custom-radio input[type=radio] + label:after{
	position:absolute;
	width:18px;
	height:18px;
	border:1px solid #367FA9;
	border-radius:100%;
	content:"";
	left:0;
	top:0;
	opacity:0;
	transform:scale(1.5,1.5);
	transition:all ease-in-out 200ms;
}
.custom-radio input[type=radio]:checked + label:after{
	opacity:1;
	transform:scale(1,1);
}
.custom-radio input[type=radio]:checked + label:before{
	background:#1D5E84;
	border:4px solid #fff;
}

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
	margin:0;
}
input.cmn-toggle-round + label {
	padding: 2px;
	width: 35px;
	height: 20px;
	background-color: #dddddd;
	border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
input.cmn-toggle-round + label:before {
	right: 1px;
	/*background-color: #f1f1f1;*/
	box-shadow:0 0 3px rgba(0,0,0,0.1) inset;
	border-radius: 60px;
	transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
	width: 18px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
	background-color: #4392C0;
}
input.cmn-toggle-round:checked + label:after {
	margin-left: 15px;
}
.form-horizontal input.cmn-toggle-round + label{
	margin:7px 0 0 5px;
}
.form-horizontal .control-label.ms-label{
	margin-bottom:5px;
	text-align:left;
}
.ms-btn-holder{
	margin-top:70px;
}
.process-table .table tr td{
	vertical-align: middle;
}
.process-table .table tr td .btn{
	font-size: 14px;
	line-height: 25px;
}

















