<div class="main-container">
  <!--Loader-->
  <div ng-if="loading" class="body-loader"></div>
  <!--// Loader-->

	<div class="header-bottom">
        <div class="bottom-part clearfix">
            <div class="nav-toggle"></div>
            <!-- <div class="data-refresh-info">
                <div class="title">Data Last Refreshed</div>
                <div class="date-time clearfix">
                    <span class="pull-left">17 February 2016</span>
                    <span class="pull-right"><i class="fa fa-clock-o"></i> 9:15 AM</span>
                </div>
            </div> -->
            <div class="page-title">
                <h1>View Role</h1>
            </div>
         </div>
    </div>
    <!--/.header-bottom-->

  <div class="alert alert-success" role="alert" ng-if="status=='success'">{{message}}</div>

	<div class="white-panel">
  	<div class="panel-heading-btns">
    	<a ng-if="addrole!=''" class="btn btn-success" ng-click="add_role()" data-toggle="modal" data-target="#EditRole">Add Role</a>
      <a ng-if="deactivate_role!=''" href="javascript:void(0);" ng-click="make_status()" class="btn btn-success">
        <span class="roll-msg">Deactivate Role</span>
        <img class="ld" style="display:none;" src="/static/images/btn-loader.gif" alt=""/>
      </a>
      <input type="hidden" name="role_id" class="role_id"/>
    </div>
    {{manage_restricted_role}}
  	<div class="panel-body">
    	<div class="table-wrap text-center">
        	<table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center">&nbsp;</th>
                  <th class="text-center">Role Name</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Restricted</th>
                  <th class="text-center">Last Updated By</th>
                  <th class="text-center">Last Updated Date</th>
                  <th class="text-center">Active</th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="role in roleData">
                  <td ng-if="role.fields.restricted_flag=='Y'">
                    <div ng-if="deactivate_role!='' && manage_restricted_role!=''" class="custom-radio label-only">
                        <input type="radio" value="{{role.pk}}" class="role-u" name="role" id="role1_{{role.pk}}">
                        <label for="role1_{{role.pk}}">&nbsp;</label>
                    </div>
                    <span ng-if="manage_restricted_role==''">&nbsp;</span>
                  </td>
                  <td ng-if="role.fields.restricted_flag=='N'">
                  	<div class="custom-radio label-only">
                        <input type="radio" value="{{role.pk}}" class="role-u" name="role" id="role1_{{role.pk}}">
                        <label for="role1_{{role.pk}}">&nbsp;</label>
                    </div>
                  </td>

                  <td ng-if="role.fields.restricted_flag=='Y'">
                  	<a ng-if="update_role!='' && manage_restricted_role!=''" ng-click="editRole(role.pk);" data-toggle="modal" data-target="#EditRole" style="cursor:pointer">{{role.fields.role_name}}</a>
                    <span ng-if="manage_restricted_role==''">{{role.fields.role_name}}</span>
                  </td>

                  <td ng-if="role.fields.restricted_flag=='N'">
                  	<a ng-if="update_role!=''" ng-click="editRole(role.pk);" data-toggle="modal" data-target="#EditRole" style="cursor:pointer">{{role.fields.role_name}}</a>
                    <span ng-if="update_role==''">{{role.fields.role_name}}</span>
                  </td>

                  <td>{{role.fields.description}}</td>

                  <td ng-if="role.fields.restricted_flag=='Y'">Yes</td>
                  <td ng-if="role.fields.restricted_flag=='N'">No</td>
                  <td class="updated_by">{{role.fields.last_updated_by}}</td>
                  <td class="updated_date">{{role.fields.last_updated_date|date:"M/d/yyyy h:mm a"}}</td>
                  <td ng-if="role.fields.active_flag=='Y'" class="active_stat">Yes</td>
                  <td ng-if="role.fields.active_flag=='N'" class="active_stat">No</td>
                </tr>

              </tbody>
            </table>

        </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade log-modal" id="EditRole" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="roleForm" class="frm form-horizontal" ng-submit="roleFormData()" autocomplete="off" novalidate>
      <div class="modal-header">
        <button type="button" ng-click="close();" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{popup_text}}</h4>
        <div class="alert alert-success" role="alert" ng-if="status_role=='success'">{{message_role}}</div>
        <div class="alert alert-danger" role="alert" ng-if="status_role=='danger'">{{message_role}}</div>
      </div>

      <p ng-if="edit_role.length==0" style="text-align:center;margin-top:10px;"><img class="loader" src="/static/images/loader.gif" alt=""/> &nbsp;&nbsp;Please wait...</p>

      <div ng-if="edit_role.length!=0" class="modal-body">
          <div class="form-group">
              <label class="control-label col-lg-2">Role Name</label>
                <div class="col-lg-4">
                  <input type="text" name="role_name" ng-model="role_name" ng-minlength="5" class="form-control role_name chk" required>
                  <span ng-show="roleForm.role_name.$touched && roleForm.role_name.$invalid && !roleForm.role_name.$error.minlength" style="color:#FF001F">This field is required.</span>
                  <span ng-show="roleForm.role_name.$error.minlength" style="color:#FF001F">Min length must be 5 character</span>

                </div>

                <label class="control-label col-lg-1">Active</label>
                <div class="col-lg-1">
                  <div class="switch">
                      <input ng-if="edit_role.fields.active_flag=='Y'" checked="checked" name="role_active" value="Y" id="toggle-active-2" class="cmn-toggle cmn-toggle-round role_active" type="checkbox">
                      <input ng-if="edit_role.fields.active_flag=='N'" name="role_active" value="Y" id="toggle-active-2" class="cmn-toggle cmn-toggle-round role_active" type="checkbox">
                      <input ng-if="popup_text=='Add Role'" name="role_active" value="Y" id="toggle-active-2" class="cmn-toggle cmn-toggle-round role_active" type="checkbox">
                      <label for="toggle-active-2"></label>
                  </div>
                </div>
                <label ng-if="manage_restricted_role!=''" class="control-label col-lg-1">Restricted</label>
                <div ng-if="manage_restricted_role!=''" class="col-lg-1">
                  <div class="switch">
                      <input ng-if="edit_role.fields.restricted_flag=='Y'" checked="checked" name="role_restricted" value="Y" id="toggle-restricted-2" class="cmn-toggle cmn-toggle-round role_restricted" type="checkbox">
                      <input ng-if="edit_role.fields.restricted_flag=='N'" name="role_restricted" value="Y" id="toggle-restricted-2" class="cmn-toggle cmn-toggle-round role_restricted" type="checkbox">
                      <input ng-if="popup_text=='Add Role'" name="role_restricted" value="Y" id="toggle-restricted-2" class="cmn-toggle cmn-toggle-round role_restricted" type="checkbox">
                      <label for="toggle-restricted-2"></label>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2">Descripeon</label>
                <div class="col-lg-8">
                  <textarea class="form-control role_description chk" name="role_description" ng-model="role_description" rows="3" required ></textarea>
                  <span ng-show="roleForm.role_description.$touched && roleForm.role_description.$invalid" style="color:#FF001F">This field is required.</span>
                </div>
            </div>
            <div class="form-group">
                  <div class="col-lg-8 col-lg-push-2">
                      <div class="row">
                          <div class="col-sm-5">
                              <label class="control-label ms-label">Assigned Permissions</label>
                                <select name="assign_permission" ng-model="assign_permission" id="optgroupEdit" class="form-control assign_permission chk" size="8" multiple="multiple">
                                    <option ng-repeat="asign_perm in asign_permission" value="{{asign_perm.permission_id}}">{{asign_perm.comments}}</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <div class="ms-btn-holder">
                                  <button type="button" id="optgroupEdit_rightSelected" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                  <button type="button" id="optgroupEdit_leftSelected" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-5">
                              <label class="control-label ms-label">Available	Permissions</label>
                                <select id="optgroupEdit_to" class="form-control" size="8" multiple="multiple">
                                    <option ng-if="popup_text=='Add Role'" ng-repeat="permission in permissionData" value="{{permission.id}}">{{permission.permission}}</option>
                                    <option ng-if="popup_text=='Edit Role'" ng-repeat="permission in permissionData" value="{{permission[0]}}">{{permission[1]}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="form-group" ng-if="popup_text!='Add Role'">
              <label class="control-label col-lg-2">Last Updated By</label>
                <div class="col-lg-3">
                  <input type="text" value="{{edit_role.fields.last_updated_by}}" readonly class="form-control">
                </div>
                <label class="control-label col-lg-2">Last Updated Date</label>
                <div class="col-lg-3">
                  <input type="text" value="{{edit_role.fields.last_updated_date|date:'M/d/yyyy h:mm a'}}" readonly class="form-control">
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="role_id" value="{{edit_role.pk}}"/>
        <button type="button" ng-click="close();" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-disabled="roleForm.$invalid"><span class="role_save">Save changes</span>
          <img class="lder" style="display:none;" src="/static/images/btn-loader.gif" alt=""/>
        </button>
      </div>
      </form>
    </div>
  </div>
  </div>

<script src="/static/js/multiselect.min.js"></script>

</div>
